<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>403 — Доступ запрещён</title>
  <!-- Аналитика: Google Analytics 4, Yandex.Metrika, Top.Mail.Ru -->
  <script src="/static/js/analytics.js" type="text/javascript"></script>
  <style>
    .container::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-image: url('/media/img_seria/1LG-504D12_2.jpg');
      opacity: 0.6; /* Полупрозрачность только для картинки */
      z-index: -1; /* Уводит картинку под текст */
      background-position: 18% 15%;
      background-repeat: no-repeat;
      background-size: 200px auto;
     }
  </style>
</head>
<body>
  <div class="container" style="margin: 10% 0 0 20%;">
    <h1 style="font-size: 120px; margin: 0; color: #ccc; background-image: url('/static/img/oknardia_logo.gif'); background-position: left 65%; background-repeat: no-repeat; background-size: 400px auto;"><i style="padding-left: 420px">403</i></h1>
    <h2 style="color: #333; font-size: 40px;">Доступ запрещён</h2>
    <h4 style="color: #666; margin: 0 0 0 30px; font-size: 20px;">У вас нет прав для доступа к этому ресурсу. Если вы считаете это ошибкой, свяжитесь с администратором.</h4>
    <p style="margin-top: 55px;"><a href="/">Вернуться на главную oknardia.ru</a></p>

  </div>
</body>
</html>

