<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>500 — Внутренняя ошибка сервера</title>
  <!-- Аналитика: Google Analytics 4, Yandex.Metrika, Top.Mail.Ru -->
  <script src="/static/js/analytics.js" type="text/javascript"></script>
  <style>
    .container::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-image: url('/media/img_seria/1LG-504D12_2.jpg');
      opacity: 0.6; /* Полупрозрачность только для картинки */
      z-index: -1; /* Уводит картинку под текст */
      background-position: 18% 15%;
      background-repeat: no-repeat;
      background-size: 200px auto;
     }
  </style>
</head>
<body>
  <div class="container" style="margin: 10% 0 0 20%;">
    <h1 style="font-size: 120px; margin: 0; color: #ccc; background-image: url('/media/img_seria/1LG-504D12_2.jpg'); background-position: left 65%; background-repeat: no-repeat; background-size: 400px auto;"><i style="padding-left: 420px">500</i></h1>
    <h2 style="color: #333; font-size: 40px;">Внутренняя ошибка сервера</h2>
    <h4 style="color: #666; margin: 0 0 0 30px; font-size: 20px;">На нашем сервере произошла непредвиденная ошибка. Команда разработчиков уже работает над решением проблемы.</h4>
    <p style="color: #999; margin: 20px 0 0 30px; font-size: 14px;">Если проблема сохраняется, пожалуйста, свяжитесь с администратором: <a href="mailto:info@oknardia.ru">info@oknardia.ru</a></p>
  </div>
  </div>
</body>
</html>
