{% extends "base.html" %}{% load static %}

{% block Title %}Блог :: {{ HEADER|striptags }}{% endblock %}

{% block Add_Body_Attribute %} style="padding-top:70px;"{% endblock %}

{% block Description %}{{ TIZER|striptags|truncatewords:25 }}{% endblock %}

{% block Keywords %}oknardia, окнардия, blog, блог, публикация, {{ HEADER|striptags }}{% endblock %}

{% block Date4Meta %}{% if PUB_DAT %}{{ PUB_DAT|date:"c" }}{% else %}{% now "c" %}{% endif %}{% endblock %}

{% block Last4Meta %}{% if PUB_DAT %}{{ PUB_DAT|date:"c" }}{% else %}{% now "c" %}{% endif %}{% endblock %}

{% block Author4Meta %}: {{ USERNAME }}{% if NAME1 != "" or NAME2 != "" %} ({{ NAME1 }}{% if NAME2 != "" %}&nbsp;{{ NAME2 }}{% endif %}){% endif %}{% endblock %}

{% block CopyrightAuthor4Meta %}: Блоги{% endblock %}

{% block Top_Meta1 %}
  {# <!-- Дополнительные Metatags --> #}{% if NAME1 != '' or NAME2 != '' %}
  <meta itemprop="author" content="{{ NAME1 }} {{ NAME2 }}" />{% endif %}
  <meta itemprop="image" content="https://oknardia.ru/media/{{ USER_AVATAR }}" />
  <meta itemprop="datePublished" content="{% if PUB_DAT %}{{ PUB_DAT|date:"c" }}{% else %}{% now "c" %}{% endif %}" />
  <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="ОКНАРДИЯ: сборник цен на пластиковые окна" /></span>
  <span itemprop="author" itemscope itemtype="http://schema.org/Person"><meta itemprop="name" content="{% if NAME1 != '' or NAME2 != '' %}{{ NAME1 }}{% if NAME2 != '' %} {{ NAME2 }}{% endif %}{% endif %}" /></span>
  <meta itemprop="articleSection" content="ОКНАРДИЯ: Блог «{{ USERNAME }}»" />
  <meta itemprop="headline" content="{{ TIZER|striptags|truncatewords_html:25 }}" />
  <meta name="news_keywords" content="{{ HEADER|striptags }}" />
  <link rel="canonical" href="https://oknardia.ru/blogpost/{{ ID }}/{{ HEADER_T }}" />
  <link rel="standout" href="https://oknardia.ru/blogpost/{{ ID }}/{{ HEADER_T }}" />
  {# <!-- Разметка для соц-сетей Facebook Open Graph --> #}<meta property="fb:admins" name="admins" content="100000084781830" />
  <meta property="fb:pages" content="276108456054163" />
  <meta property="fb:app_id" content="258354027974262" />
  <meta property="fb:profile_id" name="profile_id" content="https://www.facebook.com/oknardia/" />
  {# <!-- Разметка OG-теги для соц-сетей и мессенджеров --> #}<meta property="og:locale" content="ru_RU" />
  <meta property="og:site_name" content="oknardia.ru" />
  <meta property="og:url" content="https://oknardia.ru/blogpost/{{ ID }}/{{ HEADER_T }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ HEADER|striptags }} | oknardia.ru" />
  <meta property="og:description" content="{{ TIZER|striptags|truncatewords_html:25 }}" />
  <meta property="og:image" content="{% if IMG_FOR_BLOG %}https://oknardia.ru/media/{% endif %}{{ IMG_FOR_BLOG|default:"https://oknardia.ru/static/img/MerDY3gpU0w.jpg" }}" />
  <link rel="image_src" href="{% if IMG_FOR_BLOG %}https://oknardia.ru/media/{% endif %}{{ IMG_FOR_BLOG|default:"https://oknardia.ru/static/img/MerDY3gpU0w.jpg" }}" />
  <!-- Разметка для соц-сетей Twitter Card -->
  <meta name="twitter:title" content="{{ HEADER|striptags }} | oknardia.ru" />
  <meta name="twitter:description" content="{{ TIZER|striptags|truncatewords_html:25 }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@oknardia" />
  <meta name="twitter:domain" content="oknardia.ru" />
  <meta property="twitter:url" content="{% if IMG_FOR_BLOG %}https://oknardia.ru/media/{% endif %}{{ IMG_FOR_BLOG|default:"https://oknardia.ru/static/img/MerDY3gpU0w.jpg" }}" />
  <meta name="relap-image" content="{% if IMG_FOR_BLOG %}https://oknardia.ru/media/{% endif %}{{ IMG_FOR_BLOG|default:"https://oknardia.ru/static/img/MerDY3gpU0w.jpg" }}">{% endblock %}

{% block Top_JS3%}
  <script type="text/javascript">$(window).load(function(){var images = $('.half');images.each(function(i){$(this).width($(this).width()/2);});});</script>{% endblock %}

{% block Main_Content %}
<dIv class="container-fluid" itemscope itemtype="http://schema.org/Article">
  <div class="row">{% if not IS_ARCHIVE %}
    <div class="col-md-11 col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/blog/">Блог</a></li>
        <li><a href="/blog/P{{ PAGE_BACK }}/">Стр.{{ PAGE_BACK | add:"1" }}</a></li>
        <li class="active">{{ HEADER|safe }}</li>
      </ol>
    </div>{% endif %}
    <div class="header_blog">{% if not IS_ARCHIVE %}
      <p class="col-xs-4"><span>{{ PUB_DAT|date:"d.F.Y (l) H:i" }}</span><br /><small><img src="/media/{{ USER_AVATAR }}" alt="Аватар: {{ USERNAME }}{% if NAME1 != "" or NAME2 != '' %} ({{ NAME1 }}{% if NAME2 != '' %} {{ NAME2 }}{% endif %}){% endif %}" title="Аватар: {{ USERNAME }}{% if NAME1 != '' or NAME2 != '' %} ({{ NAME1 }}{% if NAME2 != '' %} {{ NAME2 }}{% endif %}){% endif %}" /> {% if NAME1 != '' or NAME2 != '' %} <i>{{ NAME1 }}{% if NAME2 != '' %}&nbsp;{{ NAME2 }}{% endif %}</i>{% endif %}</small></p>{% endif %}
      <h1 class="col-md-11" itemprop="name">{{ HEADER|safe }}</h1>
    </div>
  </div>
  <DiV class="row">
    <DIv class="col-md-11 col-xs-12">
      <dIv style="padding-top: 1ex;font-size:120%" itemprop="articleBody">
{# --- Пост в блоге :: начало --- #}
{{ CONTENT|safe }}
{# --- Пост в блоге :: конец ---  #}
      </dIv>
    </DIv>
  </DiV>
  {# Листалка: НАЧАЛО #}<div class="row">
    <div class="col-md-11 col-xs-12">
      <hr class="dotted-black" />
      {% if not IS_ARCHIVE %}<nav aria-label="перелистывание записей блога">
        <ul class="pager">
          {% if BACK_DISABLE %}<li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Предыдущая запись</a></li>
          {% else %}<li class="previous"><a href="/blogpost/{{ BACK_ID }}/{{ BACK_HEADER_T }}={{ PAGE_BACK }}"><span aria-hidden="true">&larr;</span> Предыдущая запись</a></li>{% endif %}

          <li class="previous"></li>
          {% if FORW_DISABLE %}<li class="next disabled"><a>Следующая запись <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}<li class="next"><a href="/blogpost/{{ FORW_ID }}/{{ FORW_HEADER_T }}?page-back={{ PAGE_BACK }}">Следующая запись <span aria-hidden="true">&rarr;</span></a></li>{% endif %}
        </ul>
      </nav>{% endif %}
    </div>
  </div>{# Листалка: КОНЕЦ #}&nbsp;
  {# --- Баннер: НАЧАЛО --- #}
  <div class="row"><div class="col-md-12 col-xs-12"><hr class="dotted-black" />{% include "ad/bannet-wide.html" %}</div></div>
  {# --- Баннер: конец --- #}
</dIv>{% endblock %}

{% comment %}
<!-- ОТЛАДКА, ГАСИМ ВЕРХНЕЕ МЕНЮ -->
{% block Top_Nav_Bar %}
    {# ОТЛАДКА, ГАСИМ ВЕРХНЕЕ МЕНЮ #}
{% endblock %}
{% endcomment %}

