{% extends "base.html" %}{% load static %}

{% block Title %}{{ HEADER|striptags }}{% endblock %}

{% block Add_Body_Attribute %} style="padding-top:70px;"{% endblock %}

{% block Description %}{% if META_DESC %}{{ META_DESC }}{% else %}{{ TIZER|striptags|truncatewords:25 }}{% endif %}{% endblock %}

{% block Keywords %}{% if META_KW %}{{ META_KW }}{% else %}oknardia, окнардия, блог, публикация, {{ HEADER|striptags }}{% endif %}{% endblock %}

{% block Date4Meta %}{% if PUB_DAT %}{{ PUB_DAT|date:"Y-m-d" }}{% else %}{% now "c" %}{% endif %}{% endblock %}

{% block Last4Meta %}{% if PUB_DAT %}{{ PUB_DAT|date:"Y-m-d" }}{% else %}{% now "c" %}{% endif %}{% endblock %}

{% block Author4Meta %}{{ NAME1 }}{% if NAME2 %} {{ NAME2 }}{% endif %} ({{ USERNAME }}) в Блоге Окнардия{% endblock %}

{% block CopyrightAuthor4Meta %}Окнардия — Блог{% endblock %}

{% block Top_Meta1 %}{# <!-- Canonical разметка --> #}
  <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}/blogpost/{{ ID }}/{{ HEADER_T }}" />{% if not BACK_DISABLE %}
  <link rel="prev" href="{{ request.scheme }}://{{ request.get_host }}/blogpost/{{ BACK_ID }}/{{ BACK_HEADER_T }}?page-back={{ PAGE_BACK|add:'-1' }}" />{% endif %}{% if not FORW_DISABLE %}
  <link rel="next" href="{{ request.scheme }}://{{ request.get_host }}/blogpost/{{ FORW_ID }}/{{ FORW_HEADER_T }}?page-back={{ PAGE_BACK }}" />{% endif %}
  {# <!-- Meta-теги для социальных сетей (B2B/B2C для компаний и клиентов) --> #}
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ HEADER|striptags }}" />
  <meta property="og:description" content="{% if META_DESC %}{{ META_DESC|escapejs|truncatewords:30 }}{% else %}{{ TIZER|striptags|truncatewords:25 }}{% endif %}" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}/blogpost/{{ ID }}/{{ HEADER_T }}" />
  <meta property="og:site_name" content="oknardia.ru" />
  <meta property="og:image" content="{% if IMG_FOR_BLOG %}{{ request.scheme }}://{{ request.get_host }}/media/{{ IMG_FOR_BLOG }}{% else %}{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg{% endif %}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@oknardia" />
  <meta name="twitter:title" content="{{ HEADER|striptags }}" />
  <meta name="twitter:description" content="{% if META_DESC %}{{ META_DESC|escapejs|truncatewords:30 }}{% else %}{{ TIZER|striptags|truncatewords:25 }}{% endif %}" />
  <meta name="twitter:image" content="{% if IMG_FOR_BLOG %}{{ request.scheme }}://{{ request.get_host }}/media/{{ IMG_FOR_BLOG }}{% else %}{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg{% endif %}" />
{# <!-- /Meta-теги --> #}{% endblock %}

{% block Top_JS3%}
  <script type="text/javascript">$(window).load(function(){var images = $('.half');images.each(function(i){$(this).width($(this).width()/2);});});</script>{% endblock %}

{% block ADD_TO_HEAD %}{# <!-- Schema.org JSON-LD разметка для отдельного блог-поста --> #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ HEADER|escapejs }}",
  "description": "{% if META_DESC %}{{ META_DESC|escapejs }}{% else %}{{ TIZER|striptags|escapejs|truncatewords:25 }}{% endif %}",
  "image": "{% if IMG_FOR_BLOG %}{{ request.scheme }}://{{ request.get_host }}/media/{{ IMG_FOR_BLOG|escapejs }}{% else %}{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg{% endif %}",
  "datePublished": "{{ PUB_DAT|date:'Y-m-d' }}T{{ PUB_DAT|date:'H:i:s' }}Z",
  "dateModified": "{% if PUB_MODIFY %}{{ PUB_MODIFY|date:'Y-m-d' }}T{{ PUB_MODIFY|date:'H:i:s' }}Z{% else %}{{ PUB_DAT|date:'Y-m-d' }}T{{ PUB_DAT|date:'H:i:s' }}Z{% endif %}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ request.scheme }}://{{ request.get_host }}/blogpost/{{ ID }}/{{ HEADER_T }}"
  },
  "breadcrumb": {
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Главная",
        "item": "{{ request.scheme }}://{{ request.get_host }}/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Блог",
        "item": "{{ request.scheme }}://{{ request.get_host }}/blog/"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "Страница {{ PAGE_BACK|add:'1' }}",
        "item": "{{ request.scheme }}://{{ request.get_host }}/blog/P{{ PAGE_BACK }}"
      },
      {
        "@type": "ListItem",
        "position": 4,
        "name": "{{ HEADER|escapejs }}",
        "item": "{{ request.scheme }}://{{ request.get_host }}/blogpost/{{ ID }}/{{ HEADER_T }}"
      }
    ]
  },
  "author": {
    "@type": "Person",
    "name": "{{ NAME1 }}{% if NAME2 %} {{ NAME2 }}{% endif %}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "ОКНАРДИЯ",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ request.scheme }}://{{ request.get_host }}/static/img/oknardia_logo.svg"
    }
  },
  "keywords": "{% if META_KW %}{{ META_KW|escapejs }}{% else %}блог, публикация, окна, поставщики{% endif %}"
}
</script>
{# <!-- /Schema.org JSON-LD --> #}{% endblock %}

{% block Main_Content %}
<dIv class="container-fluid" itemscope itemtype="http://schema.org/Article">
  <div class="row">{% if not IS_ARCHIVE %}
    <div class="col-md-11 col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/blog/">Блог</a></li>
        <li><a href="/blog/P{{ PAGE_BACK }}/">Стр.{{ PAGE_BACK | add:"1" }}</a></li>
        <li class="active">{{ HEADER|safe }}</li>
      </ol>
    </div>{% endif %}
    <div class="header_blog">{% if not IS_ARCHIVE %}
      <p class="col-xs-4"><span>{{ PUB_DAT|date:"d.F.Y (l) H:i" }}</span><br /><small><img src="/media/{{ USER_AVATAR }}" alt="Аватар: {{ USERNAME }}{% if NAME1 != "" or NAME2 != '' %} ({{ NAME1 }}{% if NAME2 != '' %} {{ NAME2 }}{% endif %}){% endif %}" title="Аватар: {{ USERNAME }}{% if NAME1 != '' or NAME2 != '' %} ({{ NAME1 }}{% if NAME2 != '' %} {{ NAME2 }}{% endif %}){% endif %}" /> {% if NAME1 != '' or NAME2 != '' %} <i>{{ NAME1 }}{% if NAME2 != '' %}&nbsp;{{ NAME2 }}{% endif %}</i>{% endif %}</small></p>{% endif %}
      <h1 class="col-md-11" itemprop="name">{{ HEADER|safe }}</h1>
    </div>
  </div>
  <DiV class="row">
    <DIv class="col-md-11 col-xs-12">
      <dIv style="padding-top: 1ex;font-size:120%" itemprop="articleBody">
{# --- Пост в блоге :: начало --- #}
{{ CONTENT|safe }}
{# --- Пост в блоге :: конец ---  #}
      </dIv>
    </DIv>
  </DiV>
  {# Листалка: НАЧАЛО #}<div class="row">
    <nav class="col-md-11 col-xs-12">
      <hr class="dotted-black" />
      {% if not IS_ARCHIVE %}<nav aria-label="перелистывание записей блога">
        <ul class="pager">
          {% if BACK_DISABLE %}<li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Предыдущая запись</a></li>
          {% else %}<li class="previous"><a href="/blogpost/{{ BACK_ID }}/{{ BACK_HEADER_T }}={{ PAGE_BACK }}"><span aria-hidden="true">&larr;</span> Предыдущая запись</a></li>{% endif %}

          <li class="previous"></li>
          {% if FORW_DISABLE %}<li class="next disabled"><a>Следующая запись <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}<li class="next"><a href="/blogpost/{{ FORW_ID }}/{{ FORW_HEADER_T }}?page-back={{ PAGE_BACK }}">Следующая запись <span aria-hidden="true">&rarr;</span></a></li>{% endif %}
        </ul>
      </nav>{% endif %}
    </nav>
  </div>{# Листалка: КОНЕЦ #}&nbsp;
  {# --- Баннер: НАЧАЛО --- #}
  <div class="row"><div class="col-md-12 col-xs-12"><hr class="dotted-black" />{% include "ad/bannet-wide.html" %}</div></div>
  {# --- Баннер: конец --- #}
</dIv>{% endblock %}

{% comment %}
<!-- ОТЛАДКА, ГАСИМ ВЕРХНЕЕ МЕНЮ -->
{% block Top_Nav_Bar %}
    {# ОТЛАДКА, ГАСИМ ВЕРХНЕЕ МЕНЮ #}
{% endblock %}
{% endcomment %}