<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow" />
	<title>ОКНАРДИЯ :: Служебное</title>
</head>
<body>

<h1>Служебные ссылки</h1>

<ul>
	<li><b><a href="/service/tmp">Страница для тестирования верстки текста в блоге</a></b></li>
</ul><ul>
  <li><a href="/service/make_JavaScripts4maps">Пересоздать JavaScript для карт на основе API Яндекс.Крат</a> (исполняется около 1 минуты)</li>
  <li><a href="/service/make_SeriaInfoRoot">Построить id корневых серий</a> (исполняется около 1 часа)</li>
</ul><ul>
  <li><a href="/service/make_FillGeoCode">Добавить GeoCode для адресов где его нет</a></li>
</ul>

</body>
</html>