# Игнорируем все файлы в этой папке (генерируются динамически)
# Содержит кеш-файлы со статик-шаблонами:
# - *_id_static_flaps.html
# - *_id_static_graph.html
# - *_id_static_map_stats.html
#
# Эти файлы генерируются при запуске management-команды:
# python manage.py regenerate_seria_prerender
#
# В продакшене они сохраняются на диск и включаются в шаблоны
# за счет системы двухуровневого кеширования.
*
!.gitignore
