{% load static %}
<script type="text/javascript">
if ( document.getElementById("box") == null ) window.location.replace("/"); // проверяем, а не вызвали-ли этот popup отдельно
$(document).ready(function(){ timerId = setTimeout("clearTimeout(timerId);$('#box').load('/center_popup_main');", 12000 ); });
  </script>

  <h1>Спасибо, вы подтвердили регистрацию:</h1>
  <ul>
    <li>пользователь: <strong>{{ USER }}</strong></li>
    <li>e-mail: <strong>{{ EMAIL }}</strong></li>
  </ul>
  <a type="button" class="btn btn-default" style="margin:1ex" onclick="$('#box').load('/center_popup_main');"> Ок <span class="glyphicon glyphicon-ok-sign"></span> </a>