{% load static %}
<script type="text/javascript">
if ( document.getElementById("box") == null ) window.location.replace("/"); // проверяем, а не вызвали-ли этот popup отдельно
 $(document).ready(function(){
    timerId = setTimeout("$('#box').load('/center_popup_main');", 2000 ); // перегрухить центральный блок
    $('#login-logout').load('/login-logout' ); // перегрузить блок login-logout
});
</script>
  <h1>Пароль изменен</h1>
  <ul>
    <a type="button" class="btn btn-default" style="margin:1ex" onclick="clearTimeout(timerId);$('#box').load('/center_popup_main');"> Ок <span class="glyphicon glyphicon-remove-sign"></span> </a>