{% extends "base.html" %}
{% load static %}
{% load filters %}
{% load humanize %}

{% block Title %}Дома серии {{ THIS_SERIA_NAME }} — типовые проёмы, размеры окон, схемы открывания, планировки, здания на карте, история и статистика{% endblock %}

{% block Add_Body_Attribute %} style="padding-top:70px;"{% endblock %}

{% block Description %}Серия {{ THIS_SERIA_NAME }}: типовые размеры оконных проёмов, схемы открывания, планировки квартир, карта зданий, статистика и цены на замену окон в домах этой серии.{% endblock %}

{% block Keywords %}{{ THIS_SERIA_NAME }}, серия {{ THIS_SERIA_NAME }}, проект {{ THIS_SERIA_NAME }}, года постройки зданий серии {{ THIS_SERIA_NAME }}, размеры окон в домах серии {{ THIS_SERIA_NAME }}, оконные проемы зданий серии {{ THIS_SERIA_NAME }}, дома серии {{ THIS_SERIA_NAME }} на карте, установка окон, цены на пластиковые окна{% endblock %}

{% block Top_Meta1 %}
    {# Canonical — предотвращает дубли при возможных GET-параметрах #}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}/catalog/seria/{{ THIS_SERIA_NAME_T }}/all{{ THIS_SERIA_ID }}/" />
    <!-- Разметка для соц-сетей Facebook Open Graph -->
    <meta property="fb:admins" name="admins" content="100000084781830" />
    <meta property="fb:pages" content="276108456054163" />
    <meta property="fb:app_id" content="258354027974262" />
    <meta property="fb:profile_id" name="profile_id" content="https://www.facebook.com/oknardia/" />
    <meta property="og:type"        content="article" />
    <meta property="og:site_name"   content="oknardia.ru" />
    <meta property="og:locale"      content="ru_RU" />
    <meta property="og:url"         content="{{ request.scheme }}://{{ request.get_host }}/catalog/seria/{{ THIS_SERIA_NAME_T }}/all{{ THIS_SERIA_ID }}/" />
    <meta property="og:title"       content="Серия {{ THIS_SERIA_NAME }}: размеры окон, планировки и карта домов | oknardia.ru" />
    <meta property="og:description" content="Типовые размеры и схемы открывания оконных проёмов в домах серии {{ THIS_SERIA_NAME }}. Карта зданий, статистика ввода в эксплуатацию по годам и цены на замену окон." />{% if THIS_SERIA_IMAGE_URL and THIS_SERIA_IMAGE_URL != "null.gif" %}
    <meta property="og:image"       content="{{ request.scheme }}://{{ request.get_host }}/media/{{ THIS_SERIA_IMAGE_URL }}" />
    <link rel="image_src"           href="{{ request.scheme }}://{{ request.get_host }}/media/{{ THIS_SERIA_IMAGE_URL }}" />{% else %}
    <meta property="og:image"       content="{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg" />
    <link rel="image_src"           href="{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg" />{% endif %}
    <!-- Разметка для соц-сетей Twitter Card -->
    <meta name="twitter:card"        content="summary" />
    <meta name="twitter:site"        content="@oknardia" />
    <meta name="twitter:title"       content="Серия {{ THIS_SERIA_NAME }}: размеры окон, планировки и карта домов | oknardia.ru" />
    <meta name="twitter:description" content="Типовые оконные проёмы, схемы открывания и цены на замену окон в домах серии {{ THIS_SERIA_NAME }}." />{% if THIS_SERIA_IMAGE_URL and THIS_SERIA_IMAGE_URL != "null.gif" %}
    <meta name="twitter:image"       content="{{ request.scheme }}://{{ request.get_host }}/media/{{ THIS_SERIA_IMAGE_URL }}" />{% else %}
    <meta name="twitter:image"       content="{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg" />{% endif %}
    <meta property="twitter:url"     content="{{ request.scheme }}://{{ request.get_host }}/catalog/seria/{{ THIS_SERIA_NAME_T }}/all{{ THIS_SERIA_ID }}/" />
{% endblock %}

{% block ADD_TO_HEAD %}{% comment %}
JSON-LD для страницы серии типового строительства.
BreadcrumbList: Google показывает хлебные крошки в сниппете вместо сырого URL — это важно,
                т.к. URL вида /catalog/seria/p-44/all7 выглядит некрасиво без расшифровки.
TechArticle: описывает страницу как технический справочный материал по серии домов.
{% endcomment %}
  {# JSON-LD: BreadcrumbList #}<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Главная",
                "item": "{{ request.scheme }}://{{ request.get_host }}/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Каталог",
                "item": "{{ request.scheme }}://{{ request.get_host }}/catalog/"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Типовые серии домов",
                "item": "{{ request.scheme }}://{{ request.get_host }}/catalog/seria/"
            },
            {
                "@type": "ListItem",
                "position": 4,
                "name": "Серия {{ THIS_SERIA_NAME|escapejs }}",
                "item": "{{ request.scheme }}://{{ request.get_host }}/catalog/seria/{{ THIS_SERIA_NAME_T }}/all{{ THIS_SERIA_ID }}/"
            }
        ]
    }
    </script>
    {# JSON-LD: TechArticle — технический справочный материал о серии типового строительства #}<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "TechArticle",
        "inLanguage": "ru-RU",
        "headline": "Серия {{ THIS_SERIA_NAME|escapejs }}: типовые размеры оконных проёмов, схемы открывания и карта зданий",
        "description": "Технические характеристики оконных проёмов в домах типовой серии {{ THIS_SERIA_NAME|escapejs }}: размеры, схемы открывания, планировки квартир, карта зданий на территории России. Статистика ввода зданий в эксплуатацию по годам.",
        "url": "{{ request.scheme }}://{{ request.get_host }}/catalog/seria/{{ THIS_SERIA_NAME_T }}/all{{ THIS_SERIA_ID }}/", {% if THIS_SERIA_IMAGE_URL and THIS_SERIA_IMAGE_URL != "null.gif" %}
        "image": "{{ request.scheme }}://{{ request.get_host }}/media/{{ THIS_SERIA_IMAGE_URL }}",{% else %}
        "image": "{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg",{% endif %}
        "about": {
            "@type": "Thing",
            "name": "Серия типового строительства {{ THIS_SERIA_NAME|escapejs }}",
            "description": "Типовой проект жилых зданий серии {{ THIS_SERIA_NAME|escapejs }} в России"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Окнардия",
            "url": "{{ request.scheme }}://{{ request.get_host }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ request.scheme }}://{{ request.get_host }}/static/img/MerDY3gpU0w.jpg"
            }
        },
        "isPartOf": {
            "@type": "WebSite",
            "name": "Окнардия — агрегатор цен на замену окон",
            "url": "{{ request.scheme }}://{{ request.get_host }}"
        }
    }
    </script>
{% endblock %}

{% block Top_JS1 %}
	<script type="text/javascript">
		$(window).load(function () {
			let images = $('.half');
			images.each(function (i) {
				$(this).width($(this).width() / 2);
			});
		});
	</script>{% endblock %}

{% block Main_Content %}<div class="container-fluid">
  {# <!--- Хлебные крошки: НАЧАЛО --> #}<div class="row">
    <div class="col-md-11 col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/catalog/seria/">Типовые серии домов</a></li>
        <li>Серия {{ THIS_SERIA_NAME }}</li>
      </ol>
      <h1>СЕРИЯ {{ THIS_SERIA_NAME }}</h1>
    </div>
  </div>{# <!--- Хлебные крошки: КОНЕЦ ---> #}
	<div class="row">
     <div class="col-md-12">
       {# ВЕРХНЯЯ СТАТЬЯ: рендерится динамически (из БД), можно редактировать через админку #}
       <div>{{ THIS_SERIA_DESCRIPTION|safe }}</div>
     </div>
	</div>

	<div class="row">
     <div class="col-lg-10">
       <h2 class="header">Дома серии {{ THIS_SERIA_NAME }}: типовые размеры и&nbsp;схемы открывания</h2>
     </div>
     <div class="col-lg-12" style="padding:1em 0 0 0;margin-left:-1em">
       {# СХЕМЫ ОТКРЫВАНИЯ: статическая часть, если используется кеш #}
       {% if PRE_RENDERED_STATIC_FLAPS_PATH %}
         {% include PRE_RENDERED_STATIC_FLAPS_PATH %}
       {% else %}
         {% include 'report/show_big_flap_pictures.html' %}
       {% endif %}
     </div>
    </div>

  <div class="row">
    <div class="col-lg-8 col-xs-12 col-md-offset-1">
      <h3 class="header">Оконные проёмы в&nbsp;типовых квартирах <nobr>серии {{ THIS_SERIA_NAME }}</nobr></h3>
    </div>
    <div class="col-lg-8 col-xs-12 col-md-offset-1">
      {# ТАБЛИЦА ОКОН: часть, которая считается при каждом запросе #}
      {% include "seria_info/all_seria_info_pre_light_dynamic_include.html" %}
    </div>
  </div>

   <div class="row">
     <div class="col-md-9"><a name="s_graph"></a>
       <h2 class="header">Здания серия {{ THIS_SERIA_NAME }}: ввод в&nbsp;эксплуатацию по&nbsp;годам</h2>
     </div>
     <div class="col-md-9 col-md-offset-1" style="height:300px;font-size:large;" id="graph">
       {# ГРАФИК: статическая часть, если используется кеш #}
       {% if PRE_RENDERED_STATIC_GRAPH_PATH %}
         {% include PRE_RENDERED_STATIC_GRAPH_PATH %}
       {% else %}
         {% include 'seria_info/all_seria_info_pre_light_static_graph.html' %}
       {% endif %}
		</div>
		<div class="col-md-9 col-md-offset-1">
			<div style="font-size: xx-small;float: right">© 2015-{% now "Y" %}, данные: oknardia.ru</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7"><a name="s_map"></a>
      <h2 class="header">Строения серии {{ THIS_SERIA_NAME }} на&nbsp;карте</h2>
    </div>
    <div class="col-md-7 col-lg-offset-1">
      <p><small>Чтобы посмотреть цены на&nbsp;установку и&nbsp;замену окон от&nbsp;партнёров &laquo;Окнардия&raquo; в&nbsp;своей квартире: найдите дом на&nbsp;карте; кликните на&nbsp;него; перейдите по&nbsp;ссылке &laquo;Смотреть коммерческие предложения&raquo;. При необходимости смените типовую планировку квартиры (на&nbsp;странице ценовой выдачи, справа от&nbsp;изображения типовых проёмов и&nbsp;схем открывания).</small></p>
      <div style="height:350px;">
        <div id="SeriaMap" style="height: 100%;"></div>
      </div>
			<div style="font-size: xx-small;float: right">© 2015-{% now "Y" %}, данные: oknardia.ru</div>
		</div>

		{# КАРТА И СТАТИСТИКА: статическая часть, если используется кеш #}
		{% if PRE_RENDERED_STATIC_MAP_STATS_PATH %}
		  {% include PRE_RENDERED_STATIC_MAP_STATS_PATH %}
		{% else %}
		  <diV class="col-md-4">
				<h3  class="header">Статистика <nobr>серии {{ THIS_SERIA_NAME }}</nobr></h3>
				<p>Совокупно во&nbsp;всех зданиях типового проекта:</p>
				<ul>
					<li><strong>{{ ACCOUNTS|price_format }}</strong> квартир.</li>
					<li>Проживает <strong>{{ APARTMENTS|price_format }}</strong> семей <small>(<strong>{{ RESIDENTS|price_format }}</strong> человек)</small>.</li>
					<li><strong>{{ RESIDENTIAL_M2|stringformat:".1f"|price_format }} м²</strong> жилых помещений.</li>
					<li><strong>{{ MUNICIPAL_M2|stringformat:".1f"|price_format }} м²</strong>&nbsp;— муниципальное жильё.</li>
					<li><strong>{{ GOVERNMENT_M2|stringformat:".1f"|price_format }} м²</strong> занимают государственные и&nbsp;городские	службы, учреждения бытового обслуживания, магазины, офисы и&nbsp;тому подобное.</li>
					<li>Максимальный износ жилого фонда серии {{ THIS_SERIA_NAME }}&nbsp;— <strong>{{ CONDITION_MAX|stringformat:".2f" }} %</strong>. Минимальный&nbsp;— <strong>{{ CONDITION_MIN|stringformat:".2f" }} %</strong>.	</li>
				</ul>
			</diV>
		{% endif %}
	</div>

	<div class="row">
		<div class="col-md-4 col-lg-offset-8" style="margin-top: 1em;">
			<h5>Информация о&nbsp;других, отличных от&nbsp;{{ THIS_SERIA_NAME }}, типовых сериях в&nbsp;базе &laquo;Окнардия&raquo;, типовых планировках квартир и&nbsp;оконных проёмах в&nbsp;них, а&nbsp;также рекомендации по&nbsp;замене&nbsp;окон:</h5>
			<div class="href_d">{% include 'seria_info/seria_nav.html' with current_seria_id=THIS_SERIA_ID %}</div>
      <p style="text-align:left;padding: 1em 50% 2em 0;"><small>Смотри так же <a href="/stat_all/">агрегированную информацию</a> по&nbsp;типовым сериям типового строительства в&nbsp;базе &laquo;Окнардия&raquo;.</small></p>
		</div>
	</div>
  <div class="row">
    {% include "report/report_last_user_visit.html" %}
    {% include "report/report_log_user_visit.html" %}
  </div>
</div>
{% endblock %}
