<center style="width:480px;height:60px;background-color:grey;">
{#  <a href='https://api.ozon.ru/partner-tools.affiliates/pankarta/11052421746600/link?partner=e-serg&partneragentid=oknrd&utm_content=banner&width=250&height=250' target='_blank'><img src='https://api.ozon.ru/partner-tools.affiliates/pankarta/11052421746600/image?partner=e-sergpartneragentid=oknrd&utm_content=banner&width=250&height=250' width='250px' height='250px'></a>#}
  <small><br/>↑ Здесь могла бы быть ваша реклама ↑</small>
</center>